.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}


.task-card {
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.task-content {
  margin-bottom: 0.75rem;
}

.task-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.task-desc {
  font-size: 0.95rem;
  color: #555;
}

.task-datetime {
  font-size: 0.85rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.task-actions button {
  margin-right: 0.5rem;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background-color: #f87171;
  color: white;
}

.edit-btn {
  background-color: #60a5fa;
  color: white;
}

.share-btn {
  background-color: #a78bfa;
  color: white;
}

@media (max-width: 660px) {
  .task-grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}
